.signup_container {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background: #fff;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup_container .content {
  padding: 30px;
  margin: 30px auto;
  min-width: 30%;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.signup_container .marked {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.marked p {
  margin-top: 10px;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.content > * {
  margin-bottom: 10px;
}
.content h2 {
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}
.content > p {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
}
.content p a {
  color: #4285f4;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.content > form {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid rgba(217, 217, 217, 0.55);
}
.content input {
  width: 100%;
  min-height: 50px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.07);
  border: none;
  outline: none;
  padding-left: 15px;
  color: black;
  margin: 4.5px auto;
}
.content button {
  margin-top: 10px;
}
